$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #f4f4f4;
$text-color: #333;
$border-radius: 5px;
$padding: 1rem;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$pending-color: #f1c40f;
$approved-color: #2ecc71;
$rejected-color: #e74c3c;

.theater-page {
  &__container {
    min-height: 100vh;
    background-color: $background-color;
    position: relative;
    height: 45rem;
    width: 81%;
    left: 19%;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__create-btn {
    background-color: $primary-color;
    border: none;
    border-radius: $border-radius;
    color: white;
    padding: $padding;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 1rem 0;

    &:hover {
      background-color: $secondary-color;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  &__theater-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
  }
  &__theater-card {
    background-color: white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;
    transition: transform 0.2s;
    padding: $padding;
    text-align: left;

    &:hover {
      transform: translateY(-10px);
    }
  }
  &__theater-header {
    padding: $padding;
    border-radius: $border-radius $border-radius 0 0;
    text-align: center;

    &.PENDING {
      background-color: $pending-color;
    }

    &.APPROVED {
      background-color: $approved-color;
    }

    &.REJECTED {
      background-color: $rejected-color;
    }
  }
  &__details {
    padding: $padding;

    p {
      margin: 5px 0;
      font-size: 14px;
    }
  }
  &__actions {
    display: flex;
    justify-content: flex-end;
    padding: $padding;

    .theater-page__delete-btn {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      font-size: 0.9rem;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      background-color: $primary-color;
      color: white;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}
