.Btn {
	width: 26vw;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(15, 15, 15);
	border: none;
	color: white;
	font-weight: 600;
	gap: 1.2vw;
	cursor: pointer;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
	position: relative;
	overflow: hidden;
	transition-duration: .5s;
    }
    
    .svgIcon {
	width: 16px;
    }
    
    .svgIcon path {
	fill: white;
    }
    
    .Btn::before {
	width: 26vw;
	height: 6vh;
	position: absolute;
	content: "";
	background-color: white;
	border-radius: 50%;
	left: -100%;
	top: 3vh;
	transition-duration: .5s;
	mix-blend-mode: difference;
    }
    
    .Btn:hover::before {
	transition-duration: .5s;
	transform: translate(100%,-50%);
	border-radius: 0;
    }
    
    .Btn:active {
	transform: translate(5px,5px);
	transition-duration: .5s;
    }