// Variables
$primary: #38A3A5; // Green accent color
$text: #fff; // White text color
$background-light: #f9f9f9; // Light background color
$shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); // Box shadow

* {
  margin: 0;
  padding: 0;
}

.profile {
  &__container {
    display: flex;
    position: relative;
    height: 500px;
    width: 80%;
    top: 4vh;
    left: 1vw;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: $shadow;
    padding: 20px;
    margin: 0 auto;
  }

  &__aside {
    width: 10vw;
    position: relative;
    top: 11vh;
    margin-right: 2vw;
    button {
      width: 100%;
      padding: 10px;
      margin-bottom: 1rem;
      border: none;
      background-color: $primary;
      color: $text;
      font-size: 1rem;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: darken($primary, 10%);
      }
    }
  }

  &__picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    .names{
      position: relative;
    }
  }

  &__picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  &__main {
    flex: 1;
    position: relative;
    border-radius: 10px;
    padding: 20px;
  }

  &__logout {
    position: absolute;
    bottom: 1rem;
    left: 1vw;
    padding: 0.5vw 4vw;
    border: none;
    background-color: $primary;
    color: $text;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: darken($primary, 10%);
    }
  }
}
