$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #ffffff;
$text-color: #333;
$border-radius: 5px;
$padding: 1rem;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.screen {
  &__seatButtonDelete {
    background-color: #e74c3c;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    
    &:hover {
      background-color: darken(#e74c3c, 10%);
    }
  }

  &__seatButtonAdd {
    background-color: $primary-color;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: $secondary-color;
    }
  }
  &__container {
    position: relative;
    height: 45rem;
    width: 81%;
    left: 19%;
    background-color: $background-color;
  }

  &__box {
    background: white;
    padding: 2rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    width: 100%;
    max-width: 800px;
    margin: 2rem 0;
    text-align: center;
  }

  &__button {
    background-color: $primary-color;
    border: none;
    border-radius: $border-radius;
    color: white;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    margin: 1rem 0;

    &:hover {
      background-color: $secondary-color;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__listItem {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__deleteButton {
      background-color: #e74c3c;
      padding: 0.5rem 1rem;
      font-size: 0.9rem;

      &:hover {
        background-color: darken(#e74c3c, 10%);
      }
    }
  }

  &__title {
    color: $primary-color;
    margin-bottom: 1.5rem;
  }
}
