$primary: #38A3A5 ; 
body{
    background-color: #fff;

  }
.Homespn{
    position: absolute;
    top: 16vh;
    left:11vw;
    z-index: 99;
    color: $primary;
    padding: .6rem 3.2rem;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid; 
    border-color: $primary ;

}
